@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  max-width: 430px;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  background-color: #fff4f1;
  font-family: "Bebas Neue", sans-serif;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  letter-spacing: 3px;
  line-height: 1.1;
  color: #ec315a;
  margin: 0;
}

.page-title {
  font-size: 3.5rem;
  letter-spacing: 3px;
  line-height: 1.1;
  color: #ec315a;
  margin: 0 0 20px 0;
}

.loading-title {
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 5px;
  color: #441d81;
  margin: 0;
}

.logo {
  margin-top: 90px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.logo-small {
  width: 75px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.section-header {
  color: #441d81;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0px;
  width: 100%;
}

.shoe-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shoe-section .section-header::before,
.shoe-section .section-header::after,
.wrapper .section-header::before,
.wrapper .section-header::after {
  content: "";
  flex: 1;
  width: 100%;
  margin: 0 10px;
  border-top: 1px solid #441d81;
}

.first-line {
  display: flex;
  gap: 20px;
  width: 100%;
}

fieldset {
  color: #441d81;
  border-radius: 4px;
  border: 1px solid #441d81;
  text-align: left;
  font-family: "Work Sans", sans-serif;
  font-size: 1.3rem;
  width: 100%;
  padding: 10px;
}

fieldset:focus-within {
  color: #ec315a;
  border-color: #ec315a;
}

legend {
  padding: 3px;
  font-size: 0.85rem;
  text-transform: uppercase;
}

input,
select,
option {
  font-family: "Work Sans", sans-serif;
  background: none;
  border: none;
  color: #000;
  font-size: 1.3rem;
}

#people,
#lanes {
  width: 70px;
}

.no-booking {
  margin-top: 200px;
  font-size: 1.5rem;
}

.error-text {
  background-color: #ec315a;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  font-size: 0.9em;
  margin-top: 0.25rem;
  display: block;
}
.input-group {
  position: relative;
}

.booking-info {
  font-size: 1.2rem;
  width: 100%;
}

.total-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

.total {
  color: #ec315a;
  border-radius: 5px;
  border: 1px solid #ec315a;
  text-align: left;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.price {
  font-weight: 400;
}

button {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 0.8em 1.2em;
  font-size: 1.3em;
  font-weight: 700;
  font-family: inherit;
  font-family: "Work Sans", sans-serif;
  background-color: #ec315a;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
  text-transform: uppercase;
}

button:hover {
  border-color: #441d81;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* För WebKit-baserade webbläsare (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* För Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
